[Unit]
Description=Reconfigure zRAM in Athena Kernel
After=home.mount

[Service]
ExecStart=/usr/libexec/athenaHelper --reconfigure-zram

[Install]
WantedBy=multi-user.target
